body {
    background-color: #c6cddb;

    /* background-color: #39424E;
    color: #c6cddb;
    
    background-color: #494f5c;
    color: #c6cddb; */
    
    font-family: Arial, sans-serif;
    padding: 1rem 2rem;

    line-height: 1.5rem;
}

body > header {
    text-align: center;
}

.logo {
    text-align: center;
    display: block;
}

.logo img {
    border: solid white 4px;
}

body > header a {
    text-decoration: none;
    color: inherit;
}

dt {
    font-weight: bold;
}